@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Inter,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.humberger{
  @apply w-24 h-12 ml-6 mt-5 text-2xl xl:hidden cursor-pointer;
}

.nav-item{
  @apply py-2 px-4 text-shuvoit-text text-base font-medium cursor-pointer hover:bg-gray-300 hover:rounded-tr-full hover:rounded-br-full;
}
.page-item{
  @apply py-2 px-4 text-shuvoit-text text-base font-medium cursor-pointer hover:bg-gray-300 hover:rounded-tr-full hover:rounded-br-full;
}
.active{
  @apply rounded-tr-full rounded-br-full cursor-pointer text-white;
}
.search{
  @apply rounded-full border-gray-400 pl-8 w-full sm:w-80 focus:outline-none h-10;
}
.mode-changer{
  @apply w-8 h-8 flex justify-center items-center ml-3 hover:w-8 hover:h-8 hover:rounded-full hover:bg-gray-300;
}
.notification{
  @apply w-8 h-8 flex justify-center items-center mr-3 hover:w-8 hover:h-8 hover:rounded-full hover:bg-gray-300;
}
.account{
  @apply w-10 h-10 cursor-pointer relative;
}

.dashboard-content{
  @apply absolute flex-col sm:flex-row left-5 right-5 flex justify-between flex-wrap gap-4 mt-5;
}
.panel-body{
  @apply bg-white p-4 shadow w-full lg:w-4/12 h-fit flex justify-between relative rounded;
}
.statistic-panel{
  @apply p-4 shadow w-full rounded bg-white;
}
.card-body{
  @apply w-full h-full;
}
.upper-content{
  @apply pb-4;
}
.lower-content{
  @apply pt-8;
}
.upperFlex{
  @apply w-full flex justify-between;
}
.settings{
  @apply w-7 h-7 text-shuvoit-secondary rounded-lg hover:rounded-full hover:bg-shuvoit-bg;
}
.box-heading{
  @apply text-xl font-medium text-shuvoit-text;
}
.sub-heading{
  @apply text-base font-medium text-shuvoit-text py-2;
}
.second-sub-heading{
  @apply text-sm text-gray-400;
}
.amount{
  @apply text-btn text-2xl font-bold py-3;
}
.btn-customized{
  @apply bg-btn text-sm font-bold text-white uppercase px-4 py-1 rounded shadow-sm;
}
.earning-panel{
  @apply w-full flex justify-between flex-col sm:flex-row rounded gap-4;
}
.earning-icon{
  @apply w-2/12 h-10 bg-shuvoit-bg flex justify-center items-center rounded;
}
.earning-text-box{
  @apply w-10/12 flex justify-between items-center pl-3;
}
.progress-back-layer{
  @apply relative overflow-hidden block h-1 z-0 bg-purple-200;
}
.progress-front-layer{
  @apply absolute w-full left-0 bottom-0 top-0 translate-x-3 transform bg-purple-600;
}
.earning-card{
  @apply flex justify-between items-center mt-4;
}
.statistics-box-wrapper{
  @apply w-full sm:w-1/4 mb-4 sm:mb-0;
}
.chart{
  @apply w-full mt-5;
}

.width{
  @apply bg-white h-48 p-4 shadow rounded;
}
.square-data{
  @apply text-white w-11 h-11 flex justify-center items-center rounded shadow;
}
.circle-data{
  @apply text-white w-11 h-11 flex justify-center items-center rounded-full shadow;
}

/* Footer Section */
.footer{
  @apply absolute left-5 bottom-0 flex justify-between;
}
.copyright{
  @apply p-5 text-center;
}



  /* Custom Code */

  .nav-header{
    min-height: 60px;
  }
  .bg-shuvoit-shadow{
    box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
    background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
  }
  .search{
    border: 1px solid gray;
    background-color: unset;
  }

  @media (max-width: 1279px) {
    .isActive{
    display: block !important;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    }
  .sidebar-wrapper{
    width: 273px !important;
    height: 100vh;
    z-index: 12;
    transform: translateX(-100%);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  .wrapper-humberger {
    width: 273px;
  }
}
.isActive{
  display: block;
  transform: translateX(0);
}
.footer{
  width: 75%;
}


.bg-image{
  background-image: url(../img/icon/triangle-light.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1279px) {
  .dashboard-content{
    width: 100% !important;
    position: unset;
    left: unset;
  }
  .footer{
    position: unset;
    left: unset;
  }
}
@media (min-width: 1024px){
.lg\:w-8\/12 {
  width: 64.667% !important;
}
}

.width{
  width: 47.5%;
}
@media (min-width:1280px) and (max-width:1734px) {
  .width{
    width: 46%;
  }
}
@media (max-width:500px) {
  .width{
    width: 47%;
  }
}
@media (max-width:370px) {
  .width{
    width: 46.5%;
  }
}